USE [jkconsultancyadmindb]
GO
/****** Object:  Table [dbo].[BookIssue]    Script Date: 08-07-2025 11:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookIssue](
	[IssueId] [int] IDENTITY(1,1) NOT NULL,
	[BookId] [int] NOT NULL,
	[StudentId] [int] NOT NULL,
	[IssueDate] [datetime] NOT NULL,
	[DueDate] [datetime] NOT NULL,
	[ReturnDate] [datetime] NULL,
	[Remarks] [text] NULL,
	[Status] [nvarchar](20) NULL,
	[IsRenewed] [bit] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IssueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 08-07-2025 11:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[BookId] [int] IDENTITY(1,1) NOT NULL,
	[IsbnNumber] [varchar](20) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Barcode] [nvarchar](100) NULL,
	[Author] [nvarchar](255) NULL,
	[BookPhoto] [nvarchar](500) NULL,
	[Details] [text] NULL,
	[CourseId] [int] NULL,
	[Price] [decimal](10, 2) NULL,
	[SubjectId] [int] NULL,
	[PublicationId] [int] NULL,
	[IsAvailable] [bit] NULL,
	[TotalCopies] [int] NULL,
	[AvailableCopies] [int] NULL,
	[Edition] [nvarchar](50) NULL,
	[Language] [nvarchar](50) NULL,
	[PublishedYear] [int] NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[BookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookStockHistory]    Script Date: 08-07-2025 11:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookStockHistory](
	[BookStockHistoryId] [int] IDENTITY(1,1) NOT NULL,
	[BookId] [int] NOT NULL,
	[CopiesAdded] [int] NOT NULL,
	[Remarks] [nvarchar](255) NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[BookStockHistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LibraryPayment]    Script Date: 08-07-2025 11:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LibraryPayment](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[IssueId] [int] NOT NULL,
	[AmountPaid] [float] NOT NULL,
	[PaymentMode] [varchar](50) NULL,
	[TransactionId] [nvarchar](100) NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Penalty]    Script Date: 08-07-2025 11:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Penalty](
	[PenaltyId] [int] IDENTITY(1,1) NOT NULL,
	[IssueId] [int] NOT NULL,
	[Amount] [float] NOT NULL,
	[Status] [varchar](10) NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[ModifiedOn] [datetime] NULL,
	[Remarks] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[PenaltyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BookIssue] ON 

INSERT [dbo].[BookIssue] ([IssueId], [BookId], [StudentId], [IssueDate], [DueDate], [ReturnDate], [Remarks], [Status], [IsRenewed], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (1, 1, 50, CAST(N'2025-07-04T12:00:57.983' AS DateTime), CAST(N'2025-07-13T12:00:57.983' AS DateTime), NULL, N'5ljkjhhh', N'issued', 0, N'system', CAST(N'2025-07-04T16:04:54.120' AS DateTime), N'Kishan Kumar', CAST(N'2025-07-05T16:19:27.737' AS DateTime))
INSERT [dbo].[BookIssue] ([IssueId], [BookId], [StudentId], [IssueDate], [DueDate], [ReturnDate], [Remarks], [Status], [IsRenewed], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (2, 1, 50, CAST(N'2025-07-04T11:51:19.040' AS DateTime), CAST(N'2025-07-21T11:51:19.040' AS DateTime), NULL, N'asd', N'issued', 1, N'system', CAST(N'2025-07-04T16:05:57.570' AS DateTime), N'Kishan Kumar', CAST(N'2025-07-04T17:39:51.480' AS DateTime))
INSERT [dbo].[BookIssue] ([IssueId], [BookId], [StudentId], [IssueDate], [DueDate], [ReturnDate], [Remarks], [Status], [IsRenewed], [CreatedBy], [CreatedOn], [ModifiedBy], [ModifiedOn]) VALUES (3, 5, 66, CAST(N'2025-07-05T00:00:00.000' AS DateTime), CAST(N'2025-07-12T00:00:00.000' AS DateTime), NULL, N'Added New Book', N'issued', 0, N'Kishan Kumar', CAST(N'2025-07-05T16:05:37.910' AS DateTime), N'Kishan Kumar', CAST(N'2025-07-05T16:05:57.300' AS DateTime))
SET IDENTITY_INSERT [dbo].[BookIssue] OFF
GO
SET IDENTITY_INSERT [dbo].[Books] ON 

SET IDENTITY_INSERT [dbo].[Books] OFF
GO
SET IDENTITY_INSERT [dbo].[BookStockHistory] ON 

INSERT [dbo].[BookStockHistory] ([BookStockHistoryId], [BookId], [CopiesAdded], [Remarks], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (1, 1, 10, N'added new books ', CAST(N'2025-07-04T07:40:08.723' AS DateTime), N'Kishan Kumar', NULL, NULL)
INSERT [dbo].[BookStockHistory] ([BookStockHistoryId], [BookId], [CopiesAdded], [Remarks], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (2, 3, -5, N' remove  5 book .', CAST(N'2025-07-04T08:49:12.227' AS DateTime), N'Kishan Kumar', NULL, NULL)
INSERT [dbo].[BookStockHistory] ([BookStockHistoryId], [BookId], [CopiesAdded], [Remarks], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (3, 5, 7, N'', CAST(N'2025-07-05T10:36:31.717' AS DateTime), N'Kishan Kumar', NULL, NULL)
SET IDENTITY_INSERT [dbo].[BookStockHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[LibraryPayment] ON 

INSERT [dbo].[LibraryPayment] ([PaymentId], [StudentId], [IssueId], [AmountPaid], [PaymentMode], [TransactionId], [CreatedOn], [CreatedBy], [ModifiedBy], [ModifiedOn]) VALUES (5, 50, 2, 50, N'Cash', NULL, CAST(N'2025-07-07T08:32:46.997' AS DateTime), N'Kishan Kumar', NULL, NULL)
SET IDENTITY_INSERT [dbo].[LibraryPayment] OFF
GO
SET IDENTITY_INSERT [dbo].[Penalty] ON 

INSERT [dbo].[Penalty] ([PenaltyId], [IssueId], [Amount], [Status], [CreatedOn], [CreatedBy], [ModifiedBy], [ModifiedOn], [Remarks]) VALUES (3, 2, 100, N'unpaid', CAST(N'2025-07-04T16:42:28.737' AS DateTime), N'admin', N'Kishan Kumar', CAST(N'2025-07-04T11:23:32.943' AS DateTime), N' late return')
SET IDENTITY_INSERT [dbo].[Penalty] OFF
GO
ALTER TABLE [dbo].[BookIssue] ADD  DEFAULT ((0)) FOR [IsRenewed]
GO
ALTER TABLE [dbo].[BookIssue] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Books] ADD  DEFAULT ((1)) FOR [IsAvailable]
GO
ALTER TABLE [dbo].[Books] ADD  DEFAULT ((1)) FOR [TotalCopies]
GO
ALTER TABLE [dbo].[Books] ADD  DEFAULT ((1)) FOR [AvailableCopies]
GO
ALTER TABLE [dbo].[Books] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Books] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[BookStockHistory] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[LibraryPayment] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Penalty] ADD  DEFAULT ('unpaid') FOR [Status]
GO
ALTER TABLE [dbo].[Penalty] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[BookIssue]  WITH CHECK ADD  CONSTRAINT [FK_BookIssue_Book] FOREIGN KEY([BookId])
REFERENCES [dbo].[Books] ([BookId])
GO
ALTER TABLE [dbo].[BookIssue] CHECK CONSTRAINT [FK_BookIssue_Book]
GO
ALTER TABLE [dbo].[BookIssue]  WITH CHECK ADD  CONSTRAINT [FK_BookIssue_Student] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Student] ([id])
GO
ALTER TABLE [dbo].[BookIssue] CHECK CONSTRAINT [FK_BookIssue_Student]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Books_Course] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Course] ([id])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Books_Course]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Books_Publication] FOREIGN KEY([PublicationId])
REFERENCES [dbo].[Publication] ([PubId])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Books_Publication]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Books_Subject] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subject] ([SubId])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Books_Subject]
GO
ALTER TABLE [dbo].[BookStockHistory]  WITH CHECK ADD  CONSTRAINT [FK_BookHistory_Books] FOREIGN KEY([BookId])
REFERENCES [dbo].[Books] ([BookId])
GO
ALTER TABLE [dbo].[BookStockHistory] CHECK CONSTRAINT [FK_BookHistory_Books]
GO
ALTER TABLE [dbo].[LibraryPayment]  WITH CHECK ADD FOREIGN KEY([IssueId])
REFERENCES [dbo].[BookIssue] ([IssueId])
GO
ALTER TABLE [dbo].[LibraryPayment]  WITH CHECK ADD FOREIGN KEY([StudentId])
REFERENCES [dbo].[Student] ([id])
GO
ALTER TABLE [dbo].[Penalty]  WITH CHECK ADD FOREIGN KEY([IssueId])
REFERENCES [dbo].[BookIssue] ([IssueId])
GO
ALTER TABLE [dbo].[BookIssue]  WITH CHECK ADD CHECK  (([Status]='overdue' OR [Status]='returned' OR [Status]='issued'))
GO
ALTER TABLE [dbo].[Penalty]  WITH CHECK ADD CHECK  (([Status]='unpaid' OR [Status]='paid'))
GO
