<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- 🔥 WebDAV Module को permanently disable करें -->
    <modules>
      <remove name="WebDAVModule" />
    </modules>
    
    <handlers>
      <!-- 🔥 WebDAV handlers को remove करें -->
      <remove name="WebDAV" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      
      <!-- IISNode handler add करें -->
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" resourceType="Unspecified" requireAccess="Execute" />
      
      <!-- Extensionless URL handler को वापस add करें proper verbs के साथ -->
      <add name="ExtensionlessUrlHandler-Integrated-4.0" 
           path="*." 
           verb="GET,HEAD,POST,PUT,DELETE,PATCH,OPTIONS" 
           type="System.Web.Handlers.TransferRequestHandler" 
           preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    
    <!-- IISNode Configuration -->
    <iisnode 
      watchedFiles="web.config;server.js"
      loggingEnabled="true"
      debuggingEnabled="false"
      node_env="production"
      nodeProcessCountPerApplication="1"
      maxConcurrentRequestsPerProcess="1024"
      maxNamedPipeConnectionRetry="3"
      namedPipeConnectionRetryDelay="2000"
    />
    
    <rewrite>
      <rules>
        <!-- Static files और assets के लिए -->
        <rule name="StaticAssets" stopProcessing="true">
          <match url="^(.*\.(js|css|png|jpg|jpeg|gif|ico|svg|woff|woff2|ttf|eot|json|txt))$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="None" />
        </rule>
        
        <!-- _next static files -->
        <rule name="NextStatic" stopProcessing="true">
          <match url="^_next/(.*)$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="None" />
        </rule>
        
        <!-- Public folder files -->
        <rule name="PublicFiles" stopProcessing="true">
          <match url="^(favicon\.ico|robots\.txt|sitemap\.xml)$" />
          <action type="None" />
        </rule>
        
        <!-- Books folder images -->
        <rule name="BookImages" stopProcessing="true">
          <match url="^Books/(.*)$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="None" />
        </rule>
        
        <!-- All other requests को Next.js server पर route करें -->
        <rule name="NextJSRoutes" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    
    <!-- 🔥 HTTP Verbs को explicitly allow करें -->
    <security>
      <requestFiltering>
        <verbs allowUnlisted="true">
          <add verb="GET" allowed="true" />
          <add verb="POST" allowed="true" />
          <add verb="PUT" allowed="true" />
          <add verb="PATCH" allowed="true" />
          <add verb="DELETE" allowed="true" />
          <add verb="OPTIONS" allowed="true" />
          <add verb="HEAD" allowed="true" />
        </verbs>
        
        <!-- Sensitive folders को hide करें -->
        <hiddenSegments>
          <add segment="node_modules" />
          <add segment=".next" />
          <add segment=".env" />
          <add segment="logs" />
        </hiddenSegments>
        
        <!-- File size limits -->
        <requestLimits maxAllowedContentLength="52428800" />
      </requestFiltering>
    </security>
    
    <!-- HTTP Errors को pass through करें -->
    <httpErrors existingResponse="PassThrough" />
    
    <!-- Compression enable करें -->
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    
    <!-- Default document -->
    <defaultDocument>
      <files>
        <clear />
        <add value="server.js" />
      </files>
    </defaultDocument>
    
    <!-- MIME types for Next.js files -->
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".js" mimeType="application/javascript" />
      <mimeMap fileExtension=".css" mimeType="text/css" />
      <mimeMap fileExtension=".woff" mimeType="font/woff" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
    </staticContent>
    
  </system.webServer>
</configuration>
