<configuration>
  <system.webServer>

    <!--  Disable WebDAV completely (PUT/DELETE blocker) -->
    <modules>
      <remove name="WebDAVModule" />
    </modules>

    <!--  Handlers -->
    <handlers>
      <remove name="WebDAV" />
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <!--  Allow all HTTP verbs explicitly -->
    <security>
      <requestFiltering>
        <verbs allowUnlisted="true">
          <add verb="GET" allowed="true" />
          <add verb="POST" allowed="true" />
          <add verb="PUT" allowed="true" />
          <add verb="DELETE" allowed="true" />
          <add verb="PATCH" allowed="true" />
          <add verb="OPTIONS" allowed="true" />
        </verbs>
      </requestFiltering>
    </security>

    <!--  Rewrite rules for Next.js -->
    <rewrite>
      <rules>
        <rule name="Next.js Routes" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

  </system.webServer>
</configuration>